
.dcignore
.idea/aws.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/secure-firewall-automation.iml
.idea/vcs.xml
